@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

*{
    padding: 0px;
    margin: 0px;
}
.html{
    box-sizing: content-box;
}*::before, *::after{
    box-sizing: inherit;
}

.title{
    /* width: 50%; */
    /* margin: 0 auto; */
    text-align: center;
    color: rgb(61, 58, 58);
}

.header{
    display: flex;
    background-color: rgb(228, 255, 164);
    min-height: 150px;
    align-items: center;
    justify-content: center;    

}

.nav{
    width: 90%;
    /* display: flex; */
    /* align-items: center; */
}

li > a{
    text-decoration: none;
    font-size: 20px;
    color: rgb(54, 68, 54);
    font-weight: 700;
}
ul{
    display: flex;
    list-style-type: none;
    justify-content: space-around;
}
.nav li:nth-child(5){
    /* background-color: red; */
    order: 5;
}
.nav li:nth-child(4){
    /* background-color: red; */
    order: 4;
}
.nav li:nth-child(3){
    /* background-color: red; */
    order: 2;
}
.nav li:nth-child(2){
    /* background-color: red; */
    order: 1;
}
.nav li:nth-child(1){
    /* background-color: red; */
    order: 3;
}

.container{
    display: flex;
    flex-flow: row wrap;
    align-content: space-around;
    justify-content: center;
    gap: 2%;
    min-height: 1200px;
    font-family: 'Lato', sans-serif;
    
}

figure{
    position: relative;
    flex-basis: 23%;
    height: 350px;
    /* border: 10px solid black; */
    border: 10px solid rgb(170, 1, 1);
    border-radius: 2%; 
}
img{
    width: 100%;
    height: 100%;
    
}

figcaption {
    position: absolute;
    bottom: 0px;
    background-color: rgb(255, 255, 255);
    opacity: 60%;
    font-size: 30px;
    font-weight: 1000;
    width: 100%;
    height: 15%;
    text-align: center;
    color: rgb(0, 0, 0);
}
/* figcaption *{
    margin: 0.5rem;
}    */